<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Tax Calculator</title>
</head>
<body>
    <h1>Car Tax Calculator</h1>
        <form method="POST" action="/v1/car/tax/calc">
        {{ form.hidden_tag() }}
        <div>
            {{ form.city_id.label }} {{ form.city_id() }}
        </div>
        <div>
            {{ form.horsepower.label }} {{ form.horsepower() }}
        </div>
        <div>
            {{ form.year.label }} {{ form.year() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
        </form>
    <div>
        <h2>Result:</h2>
        <strong>{{ result }}</strong>
    </div>
</body>
</html>
