<!DOCTYPE html>
<html>
<head>
    <title>Add Region</title>
</head>
<body>
    <h1>Add a Region</h1>
    <form method="POST" action="/web/region/add">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }} {{ form.name() }}
        </div>
        <div>
            {{ form.number.label }} {{ form.number() }}
        </div>
        {{ form.submit() }}
    </form>
    <div>
        <h2>Result:</h2>
        <p>{{ result }}</p>
    </div>
</body>
</html>
